/* Ajustar la opacidad del fondo de la zona de notas */

body {
    --background-primary: #1c2121 !important;
    --titlebar-background: transparent !important;
    --titlebar-background-focused: var(--titlebar-background);
    --mono-rgb-0: 0, 0, 0; /* Ajusta estos valores según tus necesidades */
    --workspace-background-translucent: rgba(var(--mono-rgb-0), 0.0);
    --text-normal: #f1f1f1 !important;
}

.workspace-tab-header.is-active {
    color: #fff !important;
}

.workspace-leaf,
.workspace-tab-header-container,
.workspace-split.mod-root,
.workspace-split.mod-root .view-content,
.workspace-split.mod-root .view-header,
.view-header-title-container:not(.mod-at-end):after,
.custom-frames-frame,
.is-focused .workspace-leaf.mod-active .view-header {
    background: transparent !important;
}
